<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Email" >
        <span> {{ email }} </span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Nome</label>
        <input [(ngModel)]="name" type="text" class="form-control" id="name" >
        <span> {{ name }}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">endereco</label>
      <input [(ngModel)]="endereco" type="text" class="form-control" id="endereco" >
      <span> {{ endereco }}</span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Cidade</label>
        <input [(ngModel)]="cidade" type="text" class="form-control" id="cidade" >
        <span> {{ cidade }}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>